.divider {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  margin-top: 1rem;
  border-style: dashed;
}

.divider > div {
  padding-top: 1rem;
}

.divider > div > button {
  margin-left: 1rem;
}